@model AboutViewModel

@{
    ViewData["Title"] = "About Page";
}

<div class="card">
    <div class="card-body">
        <h1>About Page</h1>
        <p>This is the about page displayed when the application loads</p>
        <p>@Model.Formed</p>
        <p>@Model.Title</p>
        <p>@Model.Message</p>
        <p>@Model.Company</p>
    </div>
</div>
