<link rel="stylesheet" href="css/styles.css" />

@{
    ViewData["Title"] = "Home Page";
}


<div class="callout callout-info">
    <h1>Home Page</h1>
    <p>This is the default page displayed when the application loads</p>
    <p>@ViewBag.LongDate</p>
    <p>@ViewBag.LongTime</p>
</div>
