@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Home Page</h1>
    <p>This is the default page displayed when the application loads</p>
    <p>@ViewBag.LongDate</p>
    <p>@ViewBag.LongTime</p>
</div>
